/**
 * Flatlogic Dashboards (https://flatlogic.com/admin-dashboards)
 *
 * Copyright © 2015-present Flatlogic, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */

@import '../../../styles/app';

.root {
  // styles here
}

.usersTable {
  th,
  td {
    border-color: $white;
  }

  thead {
    border-bottom: 1px solid $gray-200;
  }
}

.buttonSpec {
  width: 70%;
  margin: auto;
}
