/**
 * Flatlogic Dashboards (https://flatlogic.com/admin-dashboards)
 *
 * Copyright © 2015-present Flatlogic, LLC. All rights reserved.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE.txt file in the root directory of this source tree.
 */
@import '../../styles/app';

.landing {
  background-color: white;
}

.content {
  min-height: 100%;
  // 20px for footer height
  padding: #{$navbar-height} $content-padding-horizontal ($content-padding-vertical);
}

.specDiv {
  width: 80%;
  height: 100px;
  border-radius: 21px 21px 0 0;
}

.container {
  max-width: 960px;
}

.btn-opt {
  border-radius: 0.25rem;
}

.btn-outline-inverse-spec:hover {
  color: #f8f9fa;
  background-color: #4d4d4d;
  border-color: #4d4d4d;
  border-radius: 21px 21px 0 0;
}

.btn-outline-inverse-spec {
  color: #4d4d4d;
  border-color: #4d4d4d;
  background-color: #f8f9fa;
  border-radius: 21px 21px 0 0;
}

.btn-outline-inverse-norm {
  border-radius: 21px 21px 0 0;
  border-color: #f8f9fa;
  background-color: #4d4d4d;
  color: #f8f9fa;
}

.btn-outline-inverse-norm:hover {
  border-radius: 21px 21px 0 0;
  border-color: #f8f9fa;
  background-color: #f8f9fa;
  color: #4d4d4d;
}

.p-30 {
  padding: 30px;
  font-size : 2em;
}

.shadow {
  background: #fc0; /* Цвет фона */
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
  padding: 10px;
}

.shadow-dark {
  box-shadow: 0 0 40px rgba(0,0,0,0.5); /* Параметры тени */
}

.shadow-light {
  box-shadow: 0 0 40px rgb(255, 255, 255); /* Параметры тени */
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #999;
  transition: ease-in-out color 0.15s;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.bg-gr-light {
  background-color: #f8f9fa !important;
}

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: '';
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}

