@import '../../styles/app';

.root {
  width: $sidebar-width-open;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: $sidebar-bg-color;
  color: $sidebar-color;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $navbar-height;
  width: 100%;
  background: $logo-gradient;

  a {
    color: azure;
    text-align: center;
    text-decoration: none;
    white-space: normal;
    font-size: 24px;
    width: $sidebar-width-open - 60px;
    font-weight: 800;
  }
}

.nav {
  padding: 10px 0;
  overflow-y: auto;
}
