/**
  * Flatlogic Dashboards (https://flatlogic.com/admin-dashboards)
  *
  * Copyright © 2015-present Flatlogic, LLC. All rights reserved.
  *
  * This source code is licensed under the MIT license found in the
  * LICENSE.txt file in the root directory of this source tree.
*/
@import '../../styles/app';

.root {
  background: $navbar-bg-color;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

  :global {
    .input-group {
      background-color: $gray-100;

      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }
}

.arrow {
  color: $gray-400;
  transition: 0.3s;
  right: 0;
}

.arrowActive {
  transform: rotate(180deg);
}

.adminPhoto {
  width: 40px;
  height: 40px;
}

.headerIcon {
  display: flex;
  align-items: center;
  position: relative;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  :global .btn {
    background: $white;
    border: none;

    &:hover,
    &:active,
    &:focus,
    &:focus:active {
      background: $white;
      box-shadow: none !important;
      outline: none;
    }
  }

  &:nth-child(n + 2) {
    margin-left: 1.5rem;
  }

  &:nth-child(2) {
    span {
      right: -1px;
    }
  }

  img {
    max-height: 1.65rem;
    width: 1.65rem;
  }

  span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.45rem;
  }
}

.sidebarToggler {
  display: flex;

  @include media-breakpoint-up(md) {
    display: none !important;
  }
}
